# Data Science Tools and Ecosystem

 Summary of Data Science Tools and Ecosystem

**Objectives:** 
- Popular Languages used in Data Science 
- Commonly used libraries by Data Scientists
- Data Science Tools 
- How to use arthmatic expressions

List of popular languages that Data Scientists use are:
1. Python
2. R Language 
3. SQL 
4. Java/Scala

Some of the commonly used libraries by Data Scientists include:
Pandas
Numpy
SciPy
scikit-learn
TensorFlow/PyTorch
Matplotlib/Seaborn

| Data Science Tools |
| Jupyter Notebook   |
| RStudio            |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Muhammad Ali Muqaddas